@import "tailwindcss";

@theme {
  /* Fuentes */
  --font-sans: var(--font-montserrat), Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Colores */
  --color-primary: #1d1d1b;
  --color-dark-red: #79242f;
  --color-dark-red-hover: #912c3d;
  --color-dark-grey: #3f3f3d;
  --color-grey: #53575a;
  --color-dark-blue: #002a3a;
  --color-white: #fcfcfc;
  
  /* Breakpoints */
  --breakpoint-3xl: 1920px;

  /* Layout */
  --padding-horizontal: 8rem;
  --padding-vertical: 1.5rem;

  /* Font Sizes */
  --font-size-navbar: 1.25rem;
}

body {
  /* background-color: #f7fafc; */ /* Ejemplo */
  /* color: #1a202c; */ /* Ejemplo */
}

/* 4. (Opcional) Si todavía necesitas usar un tailwind.config.js para plugins
      o configuraciones muy específicas no cubiertas por @theme, lo enlazarías aquí: */
/* @config "./tailwind.config.js"; */
/* Por ahora, para la fuente, no necesitamos esto si lo hacemos con @theme. */
.hero-bg-image { 
  background-image: url('../../public/images/hero-image.jpg'); 
}